__pycache__/
*.py[cod]
.Python
env/
venv/
.venv/
*.egg-info/
dist/
build/
.ipynb_checkpoints/
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
mlflow_tracking/
!mlflow_tracking/.gitkeep
models/
!models/.gitkeep
.env
.vscode/
.idea/
.DS_Store
.pytest_cache/
.coverage
*.pkl
*.pt
*.pth
